* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    text-align: center;
}

html {
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    font-size: 2.6rem;
    background-color: #4270d3;
}

.limitar-conteudo {
    max-width: 1024px;
    margin: 0 auto;
}

.box-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    box-sizing: border-box;
    width: 90%;
    padding: 25px;
    border-radius: 15px;
    height: 630px;
    background: rgb(247, 247, 247);
    background: linear-gradient(0deg, rgba(247, 247, 247, 1) 0%, rgba(150, 224, 240, 1) 81%);
    box-shadow: 1px 1px 46px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 46px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 46px 0px rgba(0, 0, 0, 0.75);
}

.conteudo>img {
    width: 200px;
}


.conteudo>h1 {
    margin-bottom: 15px;
    color: whitesmoke;
}

.conteudo>h2 {
    font-weight: 400;
    font-size: 2.2rem;
}

.types {
    margin-top: 8px;
    margin-bottom: 5px;
    color: rgb(192, 156, 226);
}

.pokemon_api {
    margin-bottom: 15px;
}


.conteudo-sobre {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding: 5px;
}

.habilidades {
    font-weight: bold;
}

.button {
    position: relative;
    top: 45px;
    padding: 20px;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 50%;
    background-color: #89d3d8;
    color: #FFFF;

    transition: all 100ms linear 0s;
}

.button:hover {
    background-color: #7bced4;

    box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.75);
}

@keyframes float {

    0%,
    100% {
        transform: translatey(0)
    }

    50% {
        transform: translatey(-8px)
    }
}


.efeito-flutuante-infinito {
    animation: float 2.6s ease-in-out infinite;
}

/* modal */


.btn {
    display: inline;
    cursor: pointer;
    transition: background-color 0.5s;
    position: absolute;
    top: 33%;
    left: 59%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


.modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000004b;
    z-index: 999;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal {
    width: 60%;
    min-width: 400px;
    min-height: 200px;
    background-color: #ffffff62;
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 10px;
}

.fechar {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #ff0000;
    color: #fff;
    font-weight: 700;
    font-size: 14pt;
    cursor: pointer;
}

.modal h1 {
    margin-bottom: 20px;
}

.alterar {
    padding: 5px;
}

@keyframes animate-modal {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.modal-container.mostrar {
    display: flex;
}

.mostrar .modal {
    animation: animate-modal .3s;
}

/*  */



.box-history {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid black;
    display: flex;
    font-size: 1.5rem;
    background-color: #7bced4;
    border-radius: 5px;
    margin-bottom: 21px;
}

.h-conteudo>h1 {
    text-align: left;
}



.h-sobre {
    display: flex;
    gap: 25px;
}