* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    text-align: center;
}

html {
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    font-size: 2.6rem;
    background-color: #00FA9A;
}

.limitar-conteudo {
    max-width: 1024px;
    margin: 0 auto;
}

.box-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 12px auto;
    box-sizing: border-box;
    width: 90%;
    border: 1px solid black;
    padding: 25px;
    border-radius: 15px;
    height: 648px;
}

.conteudo {}

.conteudo>img {
    width: 200px;
    margin-top: 20px;
}


.conteudo>h1 {
    margin-bottom: 40px;
}

.conteudo>p {
    margin-bottom: 40px;
}

.conteudo-sobre {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding: 5px;
}

.button {
    position: relative;
    top: 25px;
    padding: 20px;

    font-size: 2rem;
}